body {
  margin: 0px;
}

#menu {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-item {
  color: #000000;
  font-size: clamp(2rem, 7vw, 6rem);
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 500ms ease;
}

#menu-items {
  margin-left: clamp(5%, 8%, 50%);
  position: relative;
  z-index: 2;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.landing-page-pattern {
  background: radial-gradient(circle, #ffffff 10%, transparent 11%);
  background-size: 15em 15em;
  background-color: #3a3a3a85;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition:
    opacity 800ms ease,
    background-size 800ms ease;
}

.menu-item:hover > .landing-page-pattern:hover {
  background-size: 15% 39%;
  opacity: 50%;
  transition: 500ms;
}
